a i{
    padding-right: 5px;
}

.mdl-layout-title a{
    color: inherit;
    text-decoration: none;
}

pre{
    padding: 10px 15px;
    border-radius: 7px;
    background: #eee;
}

.tip{
    font-size: 0.8rem;
    color: #6eb0d6;
}