svg.mw-d3-scatterplot{
  background-color: white;
  font-size: 11px;
  height: 100%;
  .mw-axis{

    path, line{
      fill: none;
      stroke: #000;
      shape-rendering: crispEdges;
    }
  }

  .mw-dot {
    //stroke: #000;
  }

}
