.mw-d3-scatterplot{
  background-color: white;
  font-size: 11px;
  height: 100%;
  .mw-axis{

    path{
      fill: none;
      stroke: #000;
      shape-rendering: crispEdges;
    }
    line {
      shape-rendering: crispEdges;
      stroke: #eaeaea;
    }
    &.mw-no-guides{
      line{
        //display: none;
        stroke: #a1a1a1;
      }
    }
  }

  .mw-dot {
    //stroke: #000;
  }

}
