.odc-correlation-matrix{

  circle {
    //fill-opacity: .7;
    //&.hidden {
    //  fill: #ccc !important;
    //}
    color: lightskyblue;
    color: darkred;
    color: red;
    color: orangered;
  }
  .odc-label{
    font-size: 10px;
  }
  .odc-highlight{
    font-weight: bold;
  }

  .odc-legend{
    text{
      font-size: 10px;
    }
  }
}