.odc-correlation-matrix{

  circle {
    //fill-opacity: .7;
    //&.hidden {
    //  fill: #ccc !important;
    //}
  }
  .odc-label{
    font-size: 11px;
  }
  .odc-highlight{
    font-weight: bold;
  }

  .odc-legend{
    text{
      font-size: 11px;
    }
  }
}



